@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './animations.scss';
@import './variables.scss';
@import './functions.scss';

html {
    height: 100%;
    width: 100%;
}

body {
    
    // Base Background
    background: linear-gradient(-45deg, #7ff2f5, #00adff, #0054ff, #0002ff, #4c00ff);
    background-size: 400% 400%;
    animation: gradient_anim 15s ease-in-out infinite;

    // Base Text
    color: $textColor;
    font-family: $defaultFont;
    
}

.thin {
    font-weight: $fontLight;
}

.text {
    margin-bottom: -15px;
}

hr {
    max-width: 20rem;
}

.card-top {
    @include rowDisplay;
    
    a {
        height: 100%;
    }
}